# confs using YAML - http://www.yaml.org/

# this stuff is used by LWP::UserAgent, check out how to write netloc 
feed_http: http://
feed_netloc: **.*********.**:80
feed_path: /feeds/series.xml
feed_username: ***********
feed_password: ***********
feed_realm: Series TV

# where do you like to store the stuff?
torresmos_path: ###HOME###/Movies/torresmosTV
gettor_path: ###HOME###/Applications/gettor

# auto-get new series?
get_new_series: yep
get_only_one_episode_from_new_series: yep

# green for new episodes
# blue for new series
change_folder_colors: 1

# use growl notifications? set use_growl with growl_path
use_growl: /usr/local/bin/growlnotify
growl_icon: img/growl_icon.icns

